<span>Helllo madafuckers this funckin app shpofy</span>

{% render "app-snippet" %}
{% schema %}
  {
    "name": "SuazaApp",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000"
      }
    ]

  }
{%endschema%}